<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Icebergify</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/berg.css">
</head>

<body id="page-top">
    <header class="d-flex masthead" style="background-image: url('static/icebergify.jpg');">
        <div class="container my-auto text-center">
            <h1 class="mb-1">icebergify</h1>
            <h3 class="mb-5"><em>how deep does your spotify iceberg go?</em></h3><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="berg.html">create yours</a>
            <div class="overlay"></div>
        </div>
    </header>
    <footer class="footer text-center">
        <div class="container">
            <p class="text-muted mb-0 small">created by <a href="https://www.instagram.com/ahkshay/">Akshay Raj</a>&nbsp; © Icebergify 2022 | <a href="privacy.html">Privacy</a></p>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
    </footer>
    <script src="static/home.js"></script>
    <script src="static/berg.js"></script>
</body>

</html>